body{
  width:100%;
  color:white;
  background-color: #ffffff;
  font-family:"Cuprum",PT Sans;

}
a{
  text-decoration:none;
}

.visality-hidden{
  display: none;
}

img{
  /*max-width:100%;
  height:auto;*/
}
.header-top-wrapper{
  display: flex;
}
.main-header{
  background-color:#f4f7f9;
  width:100%;
}
.top-menu-header{
  width:100%;
  background-color:#293449;


}
.container{
  width:940px;
margin:0 auto;
display: flex;
justify-content: space-between;

}
.logo{
  display: flex;
  width:300px;
  margin-right:88px;


}
.top-menu-header .container {
  display:flex;
  position: relative;
height: 42px;
}
.top-menu-header a{
  height:42px;
}
.top-menu-header .main-logo{
  position: absolute;
  top:10px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  left:70px;
}
.navigation{
  width:100%;
  margin-top:23px;
  padding-bottom:60px;
}

.navigation .main-nav{
  display: flex;
  margin:0;
  padding:0;
  justify-content: space-evenly;
  width:100%;
  box-shadow: 0 1px 0 0 #000000;

}
.navigation .container{
  display: flex;
}
.navigation .main-nav li{

   padding-top:20px;
   padding-bottom:20px;
}



}
.button-preview-right{
  width:570px;
  display:flex;


}


.main-header .button-preview{
  display:flex;


}


.top-menu-header a{
  width:100%;

}
.main-header a:hover{
 background-color:#ca2c37;
}
.main-logo{
  text-transform: uppercase;
  font-size:17px;
  line-height:18px;
  color: #ffffff;
}

.button-cart-catalog{
  padding-top:12px;
  position: relative;

}
.button-cart-catalog::before{
  position:absolute;
 content:"";
 left:0px;
background-image:url("../img/cart-icon.png");
background-repeat:no-repeat;
height:20px;
width:20px;
background-color:#ee3643;
}
.button-cart{
  width:140px;
  padding-top:12px;
}
.button-cart a{
padding-left:40px;

}
.place-button-current-catalog{
  padding-top: 11px;
  padding-bottom: 11px;
  background-color:#ee3643;
  padding-left:30px;
   padding-right:30px
}
.button-preview a{
  padding-top:11px;
}
.button-search{
  width:140px;
  padding-left:27px;
  padding-top:12px;
}
.button-search::before{

  position:absolute;
left:15px;
  content:"";
background-image:url("../img/icon-search.png");


background-repeat:no-repeat;
height:28px;
width:42px;

}
.button-bookmarks{
  width:221px;
  margin:0;
  padding-top:12px;
}
.button-bookmarks a{
  padding-left:125px;
}

.button-cart, .button-bookmarks{
  position:relative;
}
.button-cart::after{
  position:absolute;
 content:"";
 left:8px;
background-image:url("../img/cart-icon.png");
background-repeat:no-repeat;
height:20px;
width:20px;

}
.button-bookmarks::after{
  position:absolute;
  left:100px;
  content:"";
background-image:url("../img/icon-bookmark.png");
background-repeat:no-repeat;
height:28px;
width:42px;
}
.button-preview{
margin:0;
padding:0;



  background-color:#293449;
  position:relative;

}
.button-preview a{
  font-size:17px;
  line-height:18px;
  color:#ffffff;

  text-align:center;

}
.button-preview li{
  list-style: none;
}


.catalog-item{
  width:220px;
  min-height: 320px;
  margin-right:20px;
}
.catalog-item:nth-child(3n){
  margin-right:0;
}
.main-catalog{
  display: flex;
  margin:0;
  padding: 0;
  list-style:none;

}
.main-catalog .catalog-list-yellow{
  background-color:rgba(255,191,71,.8);
  font-size:14px;
  line-height:18px;
}
.main-catalog .list-blue{
   background-color:rgba(59,188,227,.8);
  font-size:14px;
  line-height:18px;

}
.other-main-catalog {
margin-top:5px;
position: relative;
}
.other-wrapper-catalog{
  display:flex;
  justify-content:space-between;
}

.label-new{
  position: relative;
}
.label-new::after{
  content:"";
  position: absolute;
  width:60px;
  height:60px;
  right: 0;
  top:0;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;


}
.label-new-catalog{
  position: relative;
}
.label-new-catalog::after{
  content:"";
  position: absolute;
  width:60px;
  height:60px;
  right: 0;
  top:0;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;

}
.main-catalog-list{
  width:300px;

  position: relative;
  height: 125px;
  margin-right:20px;
}
.main-catalog-list h3{
  padding-top:25px;
  margin:0;
  font-size:24px;
  line-height:30px;
  padding-left: 25px;

}

.main-catalog-list:nth-child(3n){
  margin:0;
}
.main-catalog-list a{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
  padding:20px 14px;
}
.drill{
  position: relative;
}
.drill::before{
  position:absolute;
  content:"Соседям на радость!";
  font-size:18px;
  line-height:24px;
  top:53px;
  left:25px;


}
.form-product button{
  margin-top:57px;
  padding-left: 50px;
    padding-right: 40px;
    padding-top:10px;
    padding-bottom:10px;
}
.drill::after{
  content:"";
  position:absolute;
  content:"Дрели";
  font-size:36px;
  line-height:36px;
  top:15px;
  left:22px;
  text-transform: uppercase;
  font-weight: bold;


}
.list-yellow ::before{
   position:absolute;

  content:"";
background-image:url("../img/materials.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:10px;
top:30px;
}
.text-delivery .text-delivery-p{
font-size:36px;
}
.delivery::before{
  position:absolute;
content:"";
background-image:url("../img/delivery.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:20px;
top:30px;
}
.occasions{
  position: relative;
}
.list-blue::before{
   position:absolute;
  content:"";
background-image:url("../img/tool.png");
background-repeat:no-repeat;
height:100px;
width:100px;
right:5px;
top:35px;
}
.other-main-catalog::before{
  position:absolute;
  content:"";
  z-index:4;
}
.list-pink::before{
  position:absolute;
  content:"";
background-image:url("../img/technic.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:30px;
top:30px;
}
.list-green::before{
   position:absolute;
  content:"";
background-image:url("../img/discount.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:20px;
top:30px;
}
.main-catalog-list .taste{
  margin-top:10px;

  width:134px;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 27px;
  font-size:14px;
    line-height:18px;
}
.open-catalog{
  position: absolute;
  top:217px;
  width:193px;
  height:38px;
  background-color:#ee3643;
  text-align:center;
  margin-left:25px;
  padding-top:10px;
  border-radius: 5px;

}
.open-catalog a{
  color:#ffffff;
  cursor:pointer;

}
.main-catalog-list.taste-yellow{
  background-color:yellow;
}
.drill-photo{
  width:440px;
  height: 270px;
}

.catalog-items-product{
  display: flex;
  margin:0;
  padding: 0;

    padding-bottom: 10px

}

.catalog-items-product li{
  border:1px solid #e5e5e5;
}
.catalog-items-product .item-product:nth-child(4){
  margin:0;
}
.catalog-items-product .item-product{
  width:220px;
  min-height:319px;
  margin-right:17px;
  border:1px solid #eaeaea;
}
.catalog-items-product h3{
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
  font-family: :"PT Sans";
  font-weight: bold;
  font-size:18px;
    line-height:20px;
}
.catalog-items-product p{
  margin:0;
}

.catalog-items-product .perforator-list{
color:#000000;
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  font-family: "PT Sans";
  width:160px;

}

.main-menu-header{
width:100%;
margin-top:34px;
/*padding-bottom:45px;*/
}
.main-menu-header .container{
  display:flex;
  justify-content: space-around;
}
.main-menu-header .shop-description {
  font-style: italic;
   color:#ee3643;
   font-size:17px;
  line-height:23px;
  width:300px;
  font-family: "Cuprum";
  padding-left:53px;
}
.main-menu-header .header-contacts{
  width:270px;

  border:3px solid #ffffff;
}


.button-preview .button-basket{
  background-color:#ee3643;
  color:#ffffff;
  text-align: center;
}
.button-preview-right .place-button-current {
  background-color:#63a63e;

   font-size:17px;
  line-height:18px;
  padding-top: 12px;

}
.place-current{
  width:150px;
  text-align: center;
  padding-top: 12px;
  background-color:#63a63e;


}
.header-wrapper{
  margin-top:55px;
}

.shop-description{

  font-size:16px;
  line-height:23px;
  color:#ee3643;
}
.person-wrapper{
  position: relative;
  width:350px;
   min-height:47px;

}
.person-wrapper p{
  position: relative;
}
.person-wrapper a{
padding-right:65px;
 padding-top: 10px;
 padding-bottom: 10px;

}
.person-wrapper p::before{
content: "";
position: absolute;
  background-image: url("../img/icon-user.png");
  height:50px;
  width:50px;
  background-repeat: no-repeat;
  left:40px;

}
.person{
  font-size:21px;
  line-height:21px;
  color:#000000;
  font-weight: bold;
  background-color:#ffffff;
  text-align:center;
  padding-left:40px;
  padding-right:40px;
}

.person-catalog{
  padding-left:35px;
  padding-top:10px;
}

.person-wrapper p::after{
  content:"";
  position: absolute;
  background-image: url("../img/icon-login.png");
  right:10px;
  height:45px;
  width:22px;
  background-repeat: no-repeat;
  opacity:0.3;
  }

.person-wrapper span {
  border:1px solid green;
  vertical-align:middle;
}
.header-contacts a{
line-height:21px;
color:#ee3643;
font-size:21px;
padding-left:77px;

}
.header-contacts ::before{
   position:absolute;
  content:"";
  top:5px;
  left:15px;
background-image:url("../img/icon-phone.png");
background-repeat:no-repeat;
height:20px;
width:20px;
}
.header-contacts {
  position:relative;

padding-top:8px;
padding-bottom:8px;
margin-bottom:0;


}
.adress{
  margin:0;
  padding-left:16px;
  color:#32425c;
  font-size:14px;
line-height:24px;

}
.authorization{
  display:flex;

  list-style: none;
  text-align: center;
  margin-left: 10px;
  width:300px;

}
.registration{
  width:150px;
  height: 35px;
  padding-top:8px;

}
.registration a{
  padding-left:35px;

}
.wrapper-contacts {
  width:300px;
}

.open-authorization{
  position: relative;
  width:120px;
  font-size:21px;
line-height:21px;
height: 35px;
 padding-top:8px;
}

.open-authorization a{
  padding-left: 65px;
}
.wrapper-contacts span{
  color:#32425c;
  font-size:14px;
line-height:24px;
  padding-left:15px;
}
.authorization a{
font-size:21px;
line-height:21px;
color:#000000;
}
.authorization li{
  background-color:#ffffff;
  margin-right:20px;
}

.authorization .open-authorization::before{
  position:absolute;
top:10px;
left:34px;
  content:"";
height:45px;
width:22px;
background-image:url("../img/icon-login.png");
background-repeat: no-repeat;
opacity:0.3;

}

.main-nav{
  background-color:#32425c;
  margin-bottom:60px;
}
.main-nav li{
list-style:none;
font-size:18px;
line-height:20px;
}

.order a{
  color:#32425c;
  font-size:16px;
line-height:18px;
text-decoration: underline;
}
.order{
  position: relative;
  display: flex;
}
.order::before{
  position: absolute;
  content: ".";
  width:4px;
  height:4px;
  background-color:#000000;
  top:5px;
  left:125px;
}
.order li{
  padding-right:15px;
}
.main-nav a{
  color:#ffffff;
}
.breadcrumb-catalog{
  position: relative;
   display:flex;
   width:100%;
   justify-content: flex-start;
padding:0;
 padding-top:6px;
}




.breadcrumb-catalog .breadcrumb-items::after{
  position: absolute;
  content:"";
  top:10px;
  margin-left:20px;
  width:7px;
  height:7px;
  border:1px solid #c5c9d1;
   border-top:none;
   border-right:none;
   transform: rotate(230deg);
}



.filter p{
  font-size:13px;
  line-height:18px;
  font-family: "PT Sans";
  font-weight: normal;
}
.perforator-wrapper{
  width:100%;
  margin-left:20px;

}
.sort-left li{
list-style: none;

  padding-top:20px;

}
.sort-left a{
  color:#000000;
}

.perforator-article{
  width:100%;
  background-color:#f2f6f8;
  margin-bottom:20px;
}
.perforator-article h1{
  padding-left:10px;
  padding-top: 7px;
    font-weight: 400;
}
.filter-catalog{
  display: flex;
}
.filter-one{

  background-color:#f7f3ec;
  width:220px;
  padding-left:20px;
}
.filter{
  background-color:#f2f6f8;
  width:220px;
}
.breadcrumb .breadcrumb-items,
.breadcrumb .breadcrumb-perforator
{
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;
  color:#000000;
  padding-right:50px;
}
.increase-decrease{
  display:flex;
  list-style: none;
}
.increase-decrease span{
  padding-right:10px;
}
.breadcrumb li{

  list-style:none;
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;

}
.main-menu h1{
   font-size:32px;
  line-height:30px;
  color:#32425c;
}
main{
  background-color:#ffffff;
}
.services h2{
  margin:0;
  color:#000000;
  font-size:30px;
  line-height:30px;
  font-weight: 400;
  text-transform: uppercase;
}
.services p{
  color:#000000;
  font-size:11px;
  line-height:24px;
  width:400px;
  font-family: "PT Sans";
  padding-top:15px;
}
.services-wrapper{
  background-color:#f4f8fa;
  margin-top:70px;

}
.services-item-current {

  background-color: #ffffff;
  width:240px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  color:#000000;
}
.list-catalog{
  background-color:#ffffff;
  padding:15px 25px;
}
.item-catalog{
  color:#ffffff;
  font-size:21px;
  line-height:30px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 25px;
}
.services-catalog .services-item{
  font-size:21px;
  line-height:30px;
  font-weight: bold;
  width:240px;
background-color: #32425c;
padding-top: 20px;
padding-bottom: 15px;
  list-style: none;
}
.services-catalog{
  margin:0px;
  padding:0px;
  margin-bottom: 100px;
}
.hr{
  border-bottom: 1px solid black;
}
.service-text{
   margin-bottom: 72px;
   padding-top:70px;
    font-size:30px;
  line-height:30px;
  text-transform: uppercase;
}
label{
  color: #000000;
  font-size:21px;
  line-height:30px;


}
.text-delivery{
  width:300px;
  min-height: 150px;
  color:#000000;
}
.services-catalog-list{
  position: relative;
  display: flex;
  justify-content: space-between;

}
.services-catalog-list::before{
   content: "";
   position: absolute;
  width:500px;
  height: 300px;
 background-image:url("../img/delivery-2.png");
 background-repeat: no-repeat;
 top:20px;
 left:470px;

}
.text-delivery p{
  width:300px;
  font-size:13px;
  line-height:24px;
  font-family: "PT Sans";

}
.services-catalog-list li{
  list-style: none;
  margin-right: 80px;
}
.services-catalog-list li:nth-child(1){
  list-style: none;
  margin-right: 80px;
  padding-top:20px;
}
/*.form-product button{
  margin-left:50px;
  margin-top:20px;
}*/

.form-product-wrapper{
  display: flex;

}
.form-product legend{

}
.product-wrapper{
  padding:0;
  padding-left:35px;
}
.form-product h2{
   font-size:21px;
  line-height:30px;
  font-weight: bold;
  padding-top:20px;

}
  .form-product fieldset{
    border: none;
    padding:0;

  }
.form-product .filter-bosch,
.form-product .filter-interscol,
.form-product .filter-makita,
.form-product .filter-dewalt,
.form-product .filter-hitachi,
.form-product .filter-accumulator,
.form-product .filter-network
{
  text-transform: uppercase;
  font-size:15px;
  line-height:20px;
  font-family: "PT Sans";
  font-weight: 400;
  color:#000000;
}
/*.form-product-wrapper{
  display: flex;
  justify-content: space-between;
}*/
.form-product li{
  list-style:none;
  margin-top:20px;
}

.form-product button{
   font-size:13px;
  line-height:18px;
  background-color:#ffffff;
  color:#000000;
}
.catalog{
  min-height: 976px;
  width:700px;

}
.catalog-list li{
  list-style: none;
}
.catalog-list .new,
.catalog-list-product .new{
  font-size:16px;
  line-height:23px;
  color:#ffffff;
  background-color:#ee3643;
}
.catalog-list h3{
  font-size:24px;
  line-height:30px;
  color:#ffffff;
}
.list-yellow{
  background-color:rgb(255,191,71,.8);



}
.list-blue{
  background-color:rgba(59,188,227,.8);
}
.list-pink{
  background-color:rgba(220,145,216,.8);
}
.list-green{
  margin-top:20px;
  background-color:rgba(142,215,143,.8);

}
.delivery{
  margin-top:20px;
  background-color:rgb(255,192,71,.8);

}

.two-block-catalog{
  margin-left: 20px;

}
.catalog-list .big-drill{
  font-size:30px;
  line-height:30px;
  font-weight: bold;
  color:#000000;
}
.catalog-list a{
  font-size:18px;
  line-height:24px;
  color:#ffffff;
}
.catalog-items-product{
  display: flex;
  flex-wrap: wrap;

}

.catalog-items-product del{
  color:#999999;
  font-size:17px;
  line-height:18px;
  font-weight: bold;
  padding-left:80px;
  font-family: "PT Sans";

}



.other-main-catalog::after{
  content: "";
   position: absolute;
  width:30px;
  height: 30px;
  border:3px solid #ffffff;
  border-right-style: none;
   border-top-style: none;
   transform: rotate(220deg);
   top:125px;
   right:30px;
   cursor: pointer;
}
.other-main-catalog::before{
  content: "";
   position: absolute;
  width:30px;
  height: 30px;
  border:3px solid #ffffff;
  border-right-style: none;
   border-top-style: none;
   transform: rotate(45deg);
   top:125px;
   left:30px;
   border-color: #ffffff;
   cursor: pointer;

}
.other-main-catalog::after{

}


.catalog-items-product .new-buy{
  background-color:#ee3643;
  position: relative;
  width:120px;
  margin-left:43px;
  margin-top:10px;
}
.new-buy p{
  text-align: center;
   padding-top:8px;
  padding-bottom:8px;
  font-size:17px;
  line-height:18px;
  font-weight: bold;
  font-family: "PT Sans";


  }
.catalog-items-product .new-buy::after{
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 18px solid #ffffff;
  left:120px;
  top:0px;

  border-left-color: #ee3643;



}
.catalog-items-product .buy{
  background-color:#63a63e;
  color:#ffffff;
  font-size:14px;
  line-height:18px;
   width:135px;
  text-align:center;
  padding-top:5px;

}
.hidden{
  display:none;
}
.catalog-items-product .bookmark{
  color:#32425c;
  font-size:14px;
  line-height:18px;

}

.catalog-items-product .catalog-product{
  border:1px solid black;
}
.catalog-items-product .buy-p{
  width:135px;
  background-color:#63a63e;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 45px;
    padding-top: 10px;
}
.catalog-item{
  margin-right:14px;
}
.catalog-items-product .bookmark-p{
 border:2px solid #63a63e;
 width:135px;
  text-align:center;
  padding-top:5px;
  margin-top: 30px;
    margin-left: 42px;

}
.manufacturer{
  display: flex;
  justify-content: space-between;
}
.manufacturer a{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
}
.popular-manufacturer-catalog{
  display: flex;
  flex-wrap: wrap;
  padding:0;
  margin:0;

}
.popular-manufacturer-catalog .item-manufacturer{
  width: 220px;
  height:148px;
  text-align: center;
  border:1px solid #eaeaea;

  /*background-color:#f4f8fa;*/

}
.item-manufacturer p{
  padding-top:34px;
}
.popular-manufacturer-catalog li{
  margin-right:15px;

}
.popular-manufacturer-catalog li:nth-child(4n){
margin-right:0;
}
.item-manufacturer .interscol-align{
  padding-top:0px;
}
.catalog-list .open-catalog{
  background-color:#ee3643;
}
.catalog-list-product p{
  font-size:17px;
  line-height:18px;
  font-weight: bold;
  color:#ffffff;
}
.catalog-list-product a{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
}
.sort{
  width:700px;
  position: relative;
  display:flex;
  justify-content: space-between;
  padding:0;
  margin:0;

  background-color:#f7f3ec;
}
.sort-filter-wrapper{
  width:100%;
  background-color:#f2f6f8;
}
/*.sort-increase::after{
  position: absolute;
  content: "";
  border:3px solid black;
  width:10px;
  height:10px;
  border-top:none;
  border-right:none;
}*/
.sort li{
padding-bottom:10px;
  list-style: none;
  padding-top:20px;

  font-size:13px;
  text-align: center;
  line-height:18px;
  font-family: "PT Sans";
}
.sort-type, .sort-functional{
  border-bottom:1px dotted #ee3643;
  opacity: 0.5;
}
.increase span{
  color:#ee3643;
  font-size:15px;
  cursor:pointer;

}
.sort-left{
  display: flex;
  width:220px;
  justify-content: space-between;
  margin:0;
  padding:0;
}
.filter p{
  margin-top:20px;
  margin:0;
}
.filter-price {
  display:flex;
}
.filter-catalog .sort-item{
  color:#000000;
}

.filter-price li{
  color:#000000;
  list-style: none;
}
.filter-catalog p{
  font-size:17px;
  line-height:30px;
  color:#000000;
  font-weight: bold;
}

input[type="radio"]+label{
  position:relative;
}

input[type="radio"]+label::before,
input[type="radio"]+label::after {
  position: absolute;
  top: 0;
  left: -42px;
  border-radius: 50%;
  content: "";
}

input[type="radio"]+label::before {
  width: 20px;
  height: 20px;
  border: solid 2px #c5c5c5;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked ~ label::after {
  transform: scale(1.1);
}

input[type="radio"]+label::after {
  position:absolute;
  top:7px;
  right:4px;
  margin-left:7px;
  width: 10px;
  height: 10px;
  background-color: #c5c5c5;
  transform: scale(0);
}

.sort a{
   font-size:13px;
  line-height:18px;
  text-transform: uppercase;

}
.sort .sort-item{
  color:#000000;
}
.sort .sort-price{
  color:#ee3643;
}
.sort .sort-price{
  padding-left:85px;
  color:#ee3643;


}
.sort .increase{
  width:15px;
}
.form-product{
  width:220px;
}
.popular-product .container{

}
.form-product-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
.sort-catalog h2{
padding-top:8px;
  font-size:21px;
  line-height:30px;
  font-family: "PT Sans";
  font-weight: bold;
  color:#000000;
  margin:0;
}
input[type  ="checkbox"]{
  display:none;

}
label {
  position: relative;
  cursor: pointer;
}
label::before {
  position: absolute;
  top: 0;

  left: -35px;
  z-index: 1;
  width: 17px;
  height: 17px;
  border: 2px solid #c5c5c5;
  content: "";


}

input[type="checkbox"]:checked ~ label::before {
  width: 21px;
  height: 10px;
  border-color:#c5c5c5;
  border-top-style: none;
  border-right-style: none;
   transform: rotate(-45deg);
}
.header-wrapper{
  margin-top:25px;
  width:100%;
  padding:25px 20px;
  background-color: #f9f5f0;
}
.popular-product{
  display: flex;
  justify-content: space-between;
  margin:0;
  padding:0;
}

.popular-product li{
margin-left:10px;

  font-size:30px;
  line-height:30px;
  color:#32425c;
  text-transform: uppercase;
list-style: none;

}
.popular-manufacture{
  display: flex;
  justify-content: space-between;
  margin:0;
  padding:0;

  width:100%;

  background-color: #f9f5f0;
}
.popular-manufacture li{
  margin-left:10px;

  font-size:30px;
  line-height:30px;
  color:#32425c;
  text-transform: uppercase;
list-style: none;
}
.popular-manufacture .item-popular-manufacture{
padding-top:7px;
padding-left:15px;
}
.popular-product .popul-product{
  width:621px;
padding-top:7px;

}
.popul-product a{
  text-transform: uppercase;
}


.popular-manufacture .all-popular-manufacture{
  width:300px;
   padding-top:10px;
  font-size:14px;
  line-height:18px;
  vertical-align: middle;
  text-align: center;

}
.all-popular-manufacture a{
padding-left:70px;
padding-right:70px;
padding-top:10px;
padding-bottom:10px;

 color:#ffffff;
  background-color: #ee3643;

}

.popular-product .all-popular-product{
  width:300px;
   padding-top:10px;
  font-size:14px;
  line-height:18px;
  vertical-align: middle;

}
.all-popular-product a{
padding-left:55px;
padding-right:55px;
padding-top:10px;
padding-bottom:10px;



}
.all-popular-product a {
  color:#ffffff;
  background-color: #ee3643;

}
.catalog-list-product li{
  list-style: none;
}
.popular-manufacturer {

  width:100%;
  padding-top:20px;
   padding-bottom:30px;
  background-color: #f9f5f0;
}
.manufacturer-wrapper {
  background-color:#ffffff;

}
.popular-manufacture-item{
  margin-top:20px;
}
.hitachi{
  padding-top: 20px;
}
.interscol{

}
.techomart-company{
  background-color:#ffffff;
  width:530px;
  padding-bottom:90px;
}
.techomart-company h2{
  font-size:34px;
line-height:30px;
padding-top:40px;
color:#000000;
font-weight: 400;
}
.techomart-company a{

  color:#ffffff;

margin-left:0px;
padding:10px 40px;
  text-align: center;
}
.techomart-company p{
 font-size:13px;
line-height:24px;
color:#000000;
font-family: "PT Sans";
}
.presents-article-two{
  padding-top:15px;
}
.select-company{
color:#424242;
position: relative;
}
.select-company li::before{
  content: "";
  position: absolute;
  width:25px;
  height:3px;
  background-color:red;
  left:0;
  margin-top:8px;


}
.main-wrapper{
width:100%;
  margin-top:57px;
}
.main-catalog-list-wrapper{
  display: flex;
    margin-top:20px;

}
.empty{

  min-height:200px;
}
.empty-del{
  width:100%;
  margin-bottom: 53px;
}
.techomart-company .company-list{
  list-style: none;
  font-size:18px;
line-height:20px;
color:#000000;
}
.techomart-company .about-company{
   background-color:#ee3643;
}
.about-company a{
  padding:5px 40px;

}
.index-columns .container{
  display:flex;
  justify-content: space-between;
  min-height: 365px;
  margin-bottom:10px;
}
.select-company {
   margin-bottom:45px;
}
.select-company li{
  list-style: none;
  font-size:18px;
line-height:20px;
color:#000000;
}

.pagination-list {
  display: flex;
  margin-top:56px;
  padding:0;
}
.pagination-current{
  background-color:red;
   border:1px solid #e5e5e5;
   padding:13px 20px;

}
.pagination-list a{
  font-size:13px;
line-height:18px;
color:#000000;
}
.pagination{
  border:1px solid #e5e5e5;
   padding:13px 20px;
}
.pagination-list li{
list-style: none;
margin-right:10px;
}
.pagination-last{
  padding:13px 35px;
  border:1px solid #e5e5e5;
}
.contacts h2{
  padding-left:10px;
  padding-top:45px;
  font-size:30px;
line-height:30px;
color:#000000;
}
.contacts p{
   font-size:13px;
line-height:24px;
color:#000000;
padding-bottom:15px;
}
.contacts a{
   background-color:#ee3643;
   padding:10px 60px;
   color:#ffffff;
}

.product li{
  list-style: none;

}
.main-footer{
  background-color:#293449;
}
.main-footer .main-logo{
  position: absolute;
  top:10px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  left:70px;
}
.main-footer p{
  font-size:21px;
line-height:24px;
}
.footer-list a{
  font-size:18px;
line-height:24px;
color:#ffffff;
padding-left:20px;

}
.map-contacts a{
  padding-left:60px;
}
.footer-list li{
  list-style: none;
  /*margin-left:20px;*/

  padding-top:20px;

}
.navigation-footer{
  width:100%;
  background-color:#32425c;

}
.footer-wrapper .svg-flag{
position: absolute;
bottom:795px;
}
.navigation-footer img{
  height:65px;
  width:220px;
}
.main-footer{
  background-color:#293449;
}



.footer-list{
display:flex;
width:560px;
padding:0;
justify-content: space-between;
}
.footer-adress{
  font-size:18px;
line-height:24px;
width:380px;
}
.footer-adr{
  width:100%;
  background:#32425c;
}
.footer-adr a{
  color:#f3f7f9;
}
.article-perforator{
  background-color:#f2f6f8;
  margin-top:50px;
  padding-bottom:70px;
  width:100%;

}
.article-perforator h2{
 padding-top: 30px;
    display: block;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
}

.article-perforator p{
  font-size:13px;
line-height:24px;
 font-family: "PT Sans";
 color:#000000;
 margin:0;
}
.footer-adr .container{
  display:flex;
  width:940px;
  justify-content: space-between;
  margin:0 auto;

}
.product{
  display:flex;
  justify-content: space-between;
  width:540px;
}
.product a{
  font-size:18px;
line-height:24px;
color:#ffda96;

}
.main-footer {
  width:100%;
}
.main-footer .footer-wrapper {
  display: flex;

}
.navigation-footer .container{
  position: relative;
}

.contacts-info .container{
  display:flex;
  width:940px;
  justify-content: space-between;
  margin:0 auto;
  padding-top:45px;
  padding-bottom:45px;
}
.social{
  display: flex;
}
.social li{
  list-style:none;
  margin-right:20px;
  border-radius: 50%;
  background-color:#212a3a;
  width:50px;

  text-align: center;
  padding-top:8px;
}

.copyright-technomart p{
  font-size:16px;
line-height:18px;
color:#ffffff;
}
.main-footer .Feedback,
 .main-footer .htmlacademy-project{
   font-size:16px;
line-height:18px;
color:#ffffff;
}
.Feedback a{
  color:#ffd180;
}
.htmlacademy-project a{
  color:#ffd180;
}

.add-to-cart{
  position: absolute;
  top:245px;
  width:650px;
  height: 200px;
  margin-top:200px;
  background-color:#ffffff;
  margin-bottom: 50px;
  margin-left: 475px;
  border-top:10px solid #ee3643;
  z-index: 3;
}

.visability-hidden{
  display: none;
}
.add-to-cart-block{
  position: relative;
padding-left:150px;
}
.add-to-cart-block h2{
  padding-top:50px;
   padding-bottom:50px;
}
.add-to-cart-block::after{
  content: "";
  position: absolute;
  width:80px;
  height:80px;
  background-color:green;
  border-radius: 50%;
  left:30px;
  top:20px;
}
.add-to-cart-block::before{
  content: "";
  position: absolute;
  width:30px;
  height:15px;
  z-index:1;
  transform:rotate(310deg);
  left:50px;
  top:40px;
  border:10px solid #ffffff;
  border-top:none;
  border-right: none;
}
.add-to-cart-block h2{
  position: relative;
  color:#000000;
}
/*.add-to-cart-block h2::after{
  position: absolute;
  content: "x";
  font-size: 50px;
  right:10px;
  bottom:0px;
  color:#ee3643;

}*/
.money-wrapper .money{
  color:#000000;
  font-size:17px;
line-height:30px;
color:#000000;
}
.filter-svg-wrapper{
  position: absolute;

}

.filter-svg{
  background-color:#f7f3ec;
  padding-top:13px;
}
.svg-wrapper{
  margin-top:15px;
}
.count-number{
  display:flex;
  margin-top:10px;
}

.count-number li:not(:nth-child(2)){
  color:#000000;
  list-style: none;
  padding:10px 35px;
  background-color:#f7f3ec;
   font-size:17px;
line-height:18px;
font-family: "PT Sans";
}

.not-style-number {
  color:#000000;
  list-style: none;
  padding:10px 6px;

 background-color:#ffffff;
}

/*svg{
  position: absolute;
    top:500px;
    width:220px;
    height:80px;
    background-color:grey;
}*/
/*.money{
  background-color:#ffffff;
   padding-top:20px;
   padding-bottom:20px;

}*/
.money h2{
   font-size:17px;
line-height:30px;
font-family: "PT Sans";

}
.add-to-cart .buttons{
  display: flex;
}
.add-to-cart-block p{
color:#000000;
font-size:40px;
padding-top:40px;

}

.buttons li{
  list-style: none;
  margin-right: 10px;
}
.buttons .button-current{

  font-weight: bold;
  background-color:#ee3643;
  color:#ffffff;
  padding-top:10px;
   padding-bottom:10px;
   padding-left:30px;
   padding-right:30px;



}
.buttons .button{
  background-color:#ffffff;
  color:#000000;
  padding-top:10px;
   padding-bottom:10px;



  font-weight: bold;

}
.list-buys{
  background-color: #f4f7f9;
  padding:50px 100px;
}
.section-form{
  border-top:5px solid #ee3643;

  margin:0 auto;
  bottom:100px;
  left:405px;
  position: absolute;
  z-index:1;
  margin-left:60px;
  background-color:#ffffff;
}
.section-form .button{
  background-color:#ee3643;
  width:530px;
}
.name{
  padding-left:50px;
}
.form-contacts p{
  display: inline-block;
  margin-right: 30px;
}
.buttons li{
}
.button-wrapper{
  background-color:#f2f6f8;
  padding-top:20px;
}
.form-contacts{
  width:630px;
  background-color: #ffffff;
  z-index: 3;
  border-top:5px solid #ee3643;
}
.button-form{
  margin-left:50px;
}
.message-text{
  margin-left:50px;
}
.button{
  margin-left:20px;
/*padding-left:30px;
padding-right:30px;
margin-bottom:30px;*/
}
.section-form{
  position:relative;
}
.form-contacts{
  position: absolute;
  top:-133px;
  z-index:44;

}
/*.window-wrapper{
  background-color:#ffffff;
  margin-top:200px;
  height:300px;
  width:400px;
}*/


.map-window{

content:"";
background-image:url("../img/map-1.jpg");
background-repeat:no-repeat;
height:400px;
width:1200px;
background-size: cover;


}

.svg{
  position:absolute;
  top:490px;
  left:320px;
  z-index: 5;
   cursor:pointer;
}
.svg-flag{
  position: absolute;
  bottom:170px;
  left:670px;
  z-index: 4;
  cursor:pointer;
}
