body{
  width:100%;
  color:white;
  background-color: #ffffff;
  font-family:"Cuprum",PT Sans;

}
a{
  text-decoration:none;
}
header footer{
  width:100%;
}
.visality-hidden{
  display: none;
}

img{
  /*max-width:100%;
  height:auto;*/
}
.header-top-wrapper{
  display: flex;
}
.main-header{
  background-color:#f4f7f9;
  width:100%;
}
.top-menu-header{
  width:100%;
  background-color:#293449;

}
.container{
  width:940px;
margin:0 auto;
display: flex;
justify-content: space-between;

}
.logo{
  display: flex;

  justify-content: space-around;
}
.top-menu-header .container {
  display:flex;
  position: relative;
height: 42px;
}
.top-menu-header a{
  height:42px;
}
.top-menu-header .main-logo{
  position: absolute;
  top:10px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  left:70px;
}
.navigation{
  width:100%;
}

.navigation .main-nav{
  display: flex;
  margin:0;
  padding:0;
  justify-content: space-around;
  width:100%;
  padding-top:25px;
   padding-bottom:25px;
   margin-bottom:65px;
}
.navigation .container{
  display: flex;
}

 .button-preview{
margin: 0;
padding-top:11px;

}
.main-header .button-preview{
  display:flex;
}


.top-menu-header a{
  width:100%;

}
.main-header a:hover{
 background-color:#ca2c37;
}
.main-logo{
  text-transform: uppercase;
  font-size:17px;
  line-height:18px;
  color: #ffffff;
}
.search,
.button-bookmarks,
.button-cart{
position: relative;
 padding-left:30px;
}
.button-cart-catalog{
  position: relative;
 padding-left:30px;


}
.place-button-current-catalog{
  padding-top: 11px;
  padding-bottom: 11px;
  background-color:#ee3643;
  padding-left:30px;
   padding-right:30px
}
.button-preview a{
  padding-top:11px;
}
.button-search::before{

  position:absolute;
left:10px;
  content:"";
background-image:url("../img/icon-search.png");


background-repeat:no-repeat;
height:28px;
width:42px;

}

.button-bookmarks::before{
  position:absolute;
  left:0;
  content:"";
background-image:url("../img/icon-bookmark.png");
background-repeat:no-repeat;
height:28px;
width:42px;
}

.button-cart::before{
  position:absolute;
 content:"";
 left:0;
background-image:url("../img/cart-icon.png");
background-repeat:no-repeat;
height:20px;
width:20px;

}
.button-preview{




  background-color:#293449;
  position:relative;

}
.button-preview a{
  font-size:17px;
  line-height:18px;
  color:#ffffff;
  text-align:center;

}
.button-preview li{
  list-style: none;
}


.catalog-item{
  width:220px;
  min-height: 320px;
  margin-right:20px;
}
.catalog-item:nth-child(3n){
  margin:0;
}
.main-catalog{
  display: flex;
  margin:0;
  padding: 0;
  list-style:none;

}
.main-catalog .catalog-list-yellow{
  background-color:#ffbf47;
}
.other-main-catalog {
margin-top:10px;
position: relative;
}
.other-wrapper-catalog{
  display:flex;
  justify-content:space-between;
}

.label-new{
  position: relative;
}
.label-new::after{
  content:"";
  position: absolute;
  width:60px;
  height:60px;
  right: 0;
  top:0;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;


}
.label-new-catalog{
  position: relative;
}
.label-new-catalog::after{
  content:"";
  position: absolute;
  width:60px;
  height:60px;
  right: 0;
  top:0;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;

}
.main-catalog-list{
  width:300px;

  position: relative;
  height: 125px;
  margin-right:20px;
}
.main-catalog-list h3{
  font-size:24px;
  line-height:30px;
  padding-left: 20px;

}
.main-catalog-list:nth-child(3n){
  margin:0;
}
.main-catalog-list a{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
  padding:20px 14px;
}
.drill{
  position: relative;
}
.drill::before{
  position:absolute;
  content:"Соседям на радость";
  font-size:18px;
  line-height:24px;
  top:70px;
  left:20px;


}
.form-product button{
  margin-top:15px;
}
.drill::after{
  content:"";
  position:absolute;
  content:"Дрели";
  font-size:36px;
  line-height:36px;
  top:20px;
  left:20px;
  font-weight: bold;


}
.catalog-list-yellow ::before{
   position:absolute;

  content:"";
background-image:url("../img/materials.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:20px;
top:30px;
}
.delivery::before{
  position:absolute;
content:"";
background-image:url("../img/delivery.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:20px;
top:30px;
}
.occasions{
  position: relative;
}
.catalog-list-blue::before{
   position:absolute;
  content:"";
background-image:url("../img/tool.png");
background-repeat:no-repeat;
height:100px;
width:100px;
right:20px;
top:25px;
}
.other-main-catalog::before{
  position:absolute;
  content:"";
  z-index:4;
}
.catalog-list-pink::before{
  position:absolute;
  content:"";
background-image:url("../img/technic.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:20px;
top:30px;
}
.catalog-list-green::before{
   position:absolute;
  content:"";
background-image:url("../img/discount.png");
background-repeat:no-repeat;
height:80px;
width:80px;
right:20px;
top:30px;
}
.main-catalog-list .taste{
  background-color:green;
  width:134px;
  margin:0;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 27px;
  opacity:0.5;
}
.main-catalog-list.taste-yellow{
  background-color:yellow;
}
.drill-photo{
  width:440px;
  height: 270px;
}

.catalog-items-product{
  display: flex;
  margin:0;
  padding: 0;

}

.catalog-items-product li{
  border:1px solid #e5e5e5;
}
.catalog-items-product .item-product:nth-child(4){
  margin:0;
}
.catalog-items-product .item-product{
  width:220px;
  min-height:319px;
  margin-right:17px;
  border:1px solid #eaeaea;
}
.catalog-items-product h3{
  text-align:center;
  font-family: :"PT Sans";
  font-weight: bold;
  font-size:18px;
    line-height:20px;
}

.catalog-items-product .perforator-list{
color:#000000;
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  font-family: "PT Sans";
  width:160px;

}

.main-menu-header{
width:100%;
padding-top:45px;
padding-bottom:45px;
}
.main-menu-header .container{
  display:flex;
  justify-content: space-around;
}
.main-menu-header .shop-description {
  font-style: italic;
   color:#ee3643;
   font-size:16px;
  line-height:23px;
  width:300px;
  margin-left:70px;
}
.main-menu-header .header-contacts{
  width:270px;

  border:3px solid #ffffff;
}


.button-preview .button-basket{
  background-color:#ee3643;
  color:#ffffff;
  text-align: center;
}
.button-preview .place-button-current {
  background-color:#63a63e;

  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
   font-size:17px;
  line-height:18px;

}
.place-current{
  width:150px;
}
.shop-description{

  font-size:16px;
  line-height:23px;
  color:#ee3643;
}
.person-wrapper{
  position: relative;
  width:350px;
   min-height:47px;

}
.person-wrapper p{
  position: relative;
}
.person-wrapper a{

 padding-top: 10px;
 padding-bottom: 10px;

}
.person-wrapper p::before{
content: "";
position: absolute;
  background-image: url("../img/icon-user.png");
  height:50px;
  width:50px;
  background-repeat: no-repeat;
  left:10px;
}
.person{
  font-size:21px;
  line-height:21px;
  color:#000000;
  font-weight: bold;
  background-color:#ffffff;
  text-align:center;
  padding-left:40px;
  padding-right:40px;
}

.person-catalog{
  margin-left:50px;
}
.person-wrapper p::after{
  content:"";
  position: absolute;
  background-image: url("../img/icon-login.png");
  height:45px;
  width:22px;
  background-repeat: no-repeat;
  right:10px;
  }
.person-wrapper span {
  border:1px solid green;
  vertical-align:middle;
}
.header-contacts a{
  position:relative;
line-height:21px;
color:#ee3643;
font-size:21px;
padding-left:80px;

}
.header-contacts a::before{
  position:absolute;
right:170px;
  content:"";
background-image:url("../img/icon-phone.png");
background-repeat:no-repeat;
height:20px;
width:20px;
}
.header-contacts {
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;
margin-top:10px;

}
.header-contacts span{
  color:#32425c;
  font-size:14px;
line-height:24px;

}
.authorization{
  display:flex;

  list-style: none;
  text-align: center;
  margin-left: 10px;
  width:300px;

}
.registration{
  margin-left:10px;
  width:150px;
  height: 35px;
  padding-top:10px;

}
.wrapper-contacts {
  width:300px;
}

.open-authorization{
  position: relative;
  width:120px;
  font-size:21px;
line-height:21px;
height: 35px;
 padding-top:10px;
}

.open-authorization a{
  padding-left: 45px;
}
.wrapper-contacts span{
  color:#32425c;
}
.authorization a{
font-size:21px;
line-height:21px;
color:#000000;
}
.authorization li{
  background-color:#ffffff;
  margin-right:20px;
}

.authorization .open-authorization::before{
  position:absolute;

  content:"";
height:45px;
width:22px;
background-image:url("../img/icon-login.png");
background-repeat: no-repeat;

}

.main-nav{
  background-color:#32425c;
  margin-bottom:60px;
}
.main-nav li{
list-style:none;
font-size:18px;
line-height:20px;
}

.order a{
  color:#32425c;
  font-size:16px;
line-height:18px;
text-decoration: underline;
}
.order{
  position: relative;
  display: flex;
}
.order::before{
  position: absolute;
  content: ".";
  width:4px;
  height:4px;
  background-color:#000000;
  top:5px;
  left:125px;
}
.order li{
  padding-right:15px;
}
.main-nav a{
  color:#ffffff;
}
.breadcrumb-catalog{
  position: relative;
   display:flex;
   width:280px;
   justify-content: space-around;
}
.breadcrumb-catalog li:nth-child(3){
  margin-left:40px;
}
.breadcrumb-catalog a:nth-child(3)::before{
  padding-left:320px;
}
.breadcrumb-catalog li::before{
  position: absolute;
  content:"";
  top:0;
  width:10px;
  height:10px;
  border:3px solid #c5c9d1;
   border-top:none;
   border-right:none;
   transform: rotate(230deg);
}
.breadcrumb-catalog li :first-child{
  margin:0;
}
.breadcrumb-catalog li {
  margin-left:22px;
}
/*.breadcrumb-catalog li::after{
  position: absolute;
  content:"";
  top:0;
  width:12px;
  height:15px;
  right:410px;
 background-image :url("../img/icon-home.png");
}*/
.breadcrumb-catalog a{
  padding-left:30px;
  padding-right:0px;

   font-size:13px;
  line-height:18px;
}

.filter p{
  font-size:13px;
  line-height:18px;
  font-family: "PT Sans";
  font-weight: normal;
}
.perforator-wrapper{
  width:100%;

}
.sort-left li{
list-style: none;
  padding-left:10px;
}
.sort-left a{
  color:#000000;
}
.perforator-article{
  width:100%;
  background-color:#f2f6f8;
  margin-bottom:20px;
}
.perforator-article h1{
  padding-left:30px;
}
.filter-catalog{
  display: flex;
}
.filter-one{

  background-color:#f7f3ec;
  width:220px;
  padding-left:20px;
}
.filter{
  background-color:#f2f6f8;
  width:220px;
}
.breadcrumb .breadcrumb-items{
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;
  color:#000000;
  margin-right: 50px;
}
.breadcrumb li{

  list-style:none;
  font-size:13px;
  line-height:18px;
  text-transform: uppercase;
}
.main-menu h1{
   font-size:30px;
  line-height:30px;
  color:#32425c;
}
main{
  background-color:#ffffff;
}
.services h2{
  margin:0;
  color:#000000;
  font-size:30px;
  line-height:30px;
}
.services p{
  color:#000000;
  font-size:13px;
  line-height:24px;
  width:400px;
  font-family: "PT Sans";
}
.services-wrapper{
  background-color:#f4f8fa;
  padding-top:65px;

}
.services-item-current {

  background-color: #ffffff;
  width:240px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  color:#000000;
}
.list-catalog{
  background-color:#ffffff;
  padding:20px 10px;
}
.item-catalog{
  color:#ffffff;
  font-size:21px;
  line-height:30px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 25px;
}
.services-catalog .services-item{
  font-size:21px;
  line-height:30px;
  font-weight: bold;
  width:240px;
background-color: #32425c;
padding-top: 20px;
padding-bottom: 20px;
  list-style: none;
}
.services-catalog{
  margin:0px;
  padding:0px;
  margin-bottom: 100px;
}
.hr{
  border-bottom: 1px solid black;
}
.service-text{
   margin-bottom: 72px;
}
label{
  color:#000000;
  font-size:21px;
  line-height:30px;
  font-weight: bold;

}
.text-delivery{
  width:300px;
  min-height: 150px;
  color:#000000;
}
.services-catalog-list{
  position: relative;
  display: flex;
  justify-content: space-between;

}
.services-catalog-list::before{
   content: "";
   position: absolute;
  width:500px;
  height: 300px;
 background-image:url("../img/delivery-2.png");
 background-repeat: no-repeat;
 top:40px;
 left:400px;

}
.text-delivery p{
  width:300px;
  font-size:13px;
  line-height:24px;
  font-family: "PT Sans";

}
.services-catalog-list li{
  list-style: none;
  margin-right: 80px;
}
.services-catalog-list li:nth-child(1){
  list-style: none;
  margin-right: 80px;
}
/*.form-product button{
  margin-left:50px;
  margin-top:20px;
}*/
.form-product{

}
.form-product-wrapper{
  display: flex;

}
.form-product legend{
  font-size:17px;
  line-height:30px;
}
.product-wrapper{
  padding:0;
}
.form-product h2{
   font-size:55px;
  line-height:30px;
  font-weight: bold;
  color:green;
}
  .form-product fieldset{
    border: none;
  }
.form-product .filter-bosch,
.form-product .filter-interscol,
.form-product .filter-makita,
.form-product .filter-dewalt,
.form-product .filter-hitachi,
.form-product .filter-accumulator,
.form-product .filter-network
{
  text-transform: uppercase;
  font-size:15px;
  line-height:20px;
  font-family: "PT Sans";
  font-weight: 400;
  color:#000000;
}
/*.form-product-wrapper{
  display: flex;
  justify-content: space-between;
}*/
.form-product li{
  list-style:none;
}

.form-product button{
   font-size:13px;
  line-height:18px;
  background-color:#ffffff;
  color:#000000;
}
.catalog{
  min-height: 976px;
  width:700px;

}
.catalog-list li{
  list-style: none;
}
.catalog-list .new,
.catalog-list-product .new{
  font-size:16px;
  line-height:23px;
  color:#ffffff;
  background-color:#ee3643;
}
.catalog-list h3{
  font-size:24px;
  line-height:30px;
  color:#ffffff;
}
.catalog-list-yellow{
  background-color:#ffbf47;



}
.catalog-list-blue{
  background-color:#3bbce3;
}
.catalog-list-pink{
  background-color:#dc91d8;
}
.catalog-list-green{
  background-color:#8ed78f;

}
.two-block-catalog{
  margin-left: 20px;

}
.catalog-list .big-drill{
  font-size:30px;
  line-height:30px;
  font-weight: bold;
  color:#000000;
}
.catalog-list a{
  font-size:18px;
  line-height:24px;
  color:#ffffff;
}
.catalog-items-product{
  display: flex;
  flex-wrap: wrap;

}
.catalog-items-product li{
  order:2;
}
.catalog-items-product del{
  color:#999999;
  font-size:17px;
  line-height:18px;
  font-weight: bold;
  padding-left:80px;

}



.other-main-catalog::after{
  content: "";
   position: absolute;
  width:30px;
  height: 30px;
  border:3px solid #ffffff;
  border-right-style: none;
   border-top-style: none;
   transform: rotate(220deg);
   top:180px;
   right:30px;
   cursor: pointer;
}
.other-main-catalog::before{
  content: "";
   position: absolute;
  width:30px;
  height: 30px;
  border:3px solid #ffffff;
  border-right-style: none;
   border-top-style: none;
   transform: rotate(45deg);
   top:180px;
   left:30px;
   border-color: #ffffff;
   cursor: pointer;

}
.other-main-catalog::after{

}
.catalog-items-product h3{

}

.catalog-items-product .new-buy{
  background-color:#ee3643;
  position: relative;
  width:120px;
  margin-left:35px;

}
.new-buy p{
  text-align: center;
   padding-top:8px;
  padding-bottom:8px;


  }
.catalog-items-product .new-buy::after{
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 18px solid #ffffff;
  left:120px;
  top:0px;

  border-left-color: #ee3643;



}
.catalog-items-product .buy{
  background-color:#63a63e;
  color:#ffffff;
  font-size:14px;
  line-height:18px;
   width:135px;
  text-align:center;
  padding-top:5px;

}
.hidden{
  display:none;
}
.catalog-items-product .bookmark{
  color:#32425c;
  font-size:14px;
  line-height:18px;

}

.catalog-items-product .catalog-product{
  border:1px solid black;
}
.catalog-items-product .buy-p{
  width:135px;
  background-color:#63a63e;
  text-align:center;
  padding-top:5px;
}
.catalog-item{
  margin-right:14px;
}
.catalog-items-product .bookmark-p{
 border:2px solid #63a63e;
 width:135px;
  text-align:center;
  padding-top:5px;

}
.manufacturer{
  display: flex;
  justify-content: space-between;
}
.manufacturer a{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
}
.popular-manufacturer-catalog{
  display: flex;
  flex-wrap: wrap;
  padding:0;
  margin:0;

}
.popular-manufacturer-catalog .item-manufacturer{
  width: 220px;
  height:148px;
  text-align: center;
  border:1px solid #eaeaea;

  /*background-color:#f4f8fa;*/

}
.item-manufacturer p{
  padding-top:34px;
}
.item-manufacturer .interscol-align{
  padding-top:0px;
}
.catalog-list .open-catalog{
  background-color:#ee3643;
}
.catalog-list-product p{
  font-size:17px;
  line-height:18px;
  font-weight: bold;
  color:#ffffff;
}
.catalog-list-product a{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
}
.sort{
  position: relative;
  display:flex;
  justify-content: space-between;
  padding:0;
  margin:0;

  background-color:#f7f3ec;
}
.sort-filter-wrapper{
  width:100%;
  background-color:#f2f6f8;
}
.sort-increase::after{
  position: absolute;
  content: "";
  border:3px solid black;
  width:10px;
  height:10px;
  border-top:none;
  border-right:none;
}
.sort li{
  margin-right:60px;
}
.sort-left{
  display: flex;
  justify-content: space-between;
  margin:0;
  padding:0;
}
.filter p{
  margin-top:20px;
  margin:0;
}
.filter-price {
  display:flex;
}
.filter-catalog .sort-item{
  color:#000000;
}
.filter-price li{
  color:#000000;
  list-style: none;
}
.filter-catalog p{
  font-size:17px;
  line-height:30px;
  color:#000000;
  font-weight: bold;
}
.sort-catalog h2{
  font-size:13px;
  line-height:18px;
  color:#000000;
}
.sort-increase{
  color:#000000;
  background-color:#ee3643;
}
.sort-decrease{
  color:#000000;

}
.sort a{
   font-size:13px;
  line-height:18px;
  text-transform: uppercase;
}
.sort .sort-item{
  color:#000000;
}
.sort .sort-price{
  color:#ee3643;
}.sort .sort-type,
 .sort .sort-functional
{
  color:#000000;
  text-decoration: underline;
  opacity:0.5;
}
.sort .sort-price{
  color:#ee3643;
  margin-right:140px;
}
.sort .sort-catalog{
  margin-right:40px;
}
.form-product{
  width:250px;
}
.popular-product .container{
  display: flex;
  justify-content: space-between;
}
.form-product-wrapper{
  display: flex;
  justify-content: space-between;
}
.sort-catalog h2{
  font-size:17px;
  line-height:30px;
  font-family: "PT Sans";
  font-weight: bold;
}
.popular-product h2{
  font-size:30px;
  line-height:30px;
  color:#32425c;
  text-transform: uppercase;
}
.all-product{
  background-color:#ee3643;
  padding:14px 65px;
}
.popular-product .all-popular-product{
  font-size:14px;
  line-height:18px;
  color:#ffffff;
  text-transform: uppercase;
  vertical-align: middle;

}
.catalog-list-product li{
  list-style: none;
}
.popular-manufacturer h2{
  font-size:30px;
  line-height:30px;
  color:#32425c;
  text-transform: uppercase;
}
.manufacturer-wrapper .container{
  display: flex
}
.hitachi{
  padding-top: 20px;
}
.interscol{

}
.techomart-company{
  background-color:#ffffff;
  width:530px;
  padding-bottom:90px;
}
.techomart-company h2{
  font-size:30px;
line-height:30px;
color:#000000;
}
.techomart-company a{
  padding:10px 60px;
  color:#ffffff;
}
.techomart-company p{
 font-size:13px;
line-height:24px;
color:#000000;
font-family: "PT Sans";
}
.select-company{
color:#424242;
position: relative;
}
.select-company li::before{
  content: "";
  position: absolute;
  width:25px;
  height:3px;
  background-color:red;
  left:0;
  margin-top:8px;


}
.main-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top:65px;
}
.main-catalog-list-wrapper{
  display: flex;

}
.empty{
  padding-top:20px;
  min-height:200px;
}
.empty-del{
  width:100%;
  margin-bottom: 53px;
}
.techomart-company .company-list{
  list-style: none;
  font-size:18px;
line-height:20px;
color:#000000;
}
.techomart-company .about-company{
   background-color:#ee3643;
}
.about-company a{
  padding:10px 60px;
}
.index-columns .container{
  display:flex;
  justify-content: space-between;
  min-height: 365px;
}
.select-company {
   margin-bottom:45px;
}
.select-company li{
  list-style: none;
  font-size:18px;
line-height:20px;
color:#000000;
}

.pagination-list {
  display: flex;
  margin-top:56px;
  padding:0;
}
.pagination-current{
  background-color:red;
   border:1px solid #e5e5e5;
   padding:13px 20px;

}
.pagination-list a{
  font-size:13px;
line-height:18px;
color:#000000;
}
.pagination{
  border:1px solid #e5e5e5;
   padding:13px 20px;
}
.pagination-list li{
list-style: none;
margin-right:10px;
}
.pagination-last{
  padding:13px 35px;
  border:1px solid #e5e5e5;
}
.contacts h2{
  font-size:30px;
line-height:30px;
color:#000000;
}
.contacts p{
   font-size:13px;
line-height:24px;
color:#000000;
}
.contacts a{
   background-color:#ee3643;
   padding:10px 60px;
   color:#ffffff;
}

.product li{
  list-style: none;

}
.main-footer{
  background-color:#293449;
}
.main-footer .main-logo{
  position: absolute;
  top:10px;
  font-family: "PT Sans";
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  left:70px;
}
.main-footer p{
  font-size:18px;
line-height:24px;
}
.footer-list a{
  font-size:18px;
line-height:24px;
color:#ffffff;
}
.map-contacts a{
  padding-left:60px;
}
.footer-list li{
  list-style: none;
  padding-top:25px;
  padding-left:75px;

}
.navigation-footer{
  width:100%;
  background-color:#32425c;
  min-height:100px;
}
.footer-wrapper .svg-flag{
position: absolute;
bottom:795px;
}
.navigation-footer img{
  height:65px;
  width:220px;
}
.main-footer{
  background-color:#293449;
}
.main-footer p{
  font-size:18px;
line-height:24px;
}

.footer-wrapper{

}
.footer-list{
display:flex;
}
.footer-adress{
  font-size:18px;
line-height:24px;
width:500px;
}
.footer-adr{
  width:100%;
  background:#32425c;
}
.footer-adr a{
  color:#f3f7f9;
}
.article-perforator{
  background-color:#f2f6f8;
  padding-top:65px;
  padding-bottom:75px;
  width:100%;

}
.article-perforator h2{
  display: block;
  font-size:30px;
line-height:30px;
color:#000000;
}

.article-perforator p{
  font-size:13px;
line-height:24px;
 font-family: "PT Sans";
 color:#000000;
}
.footer-adr .container{
  display:flex;
  width:940px;
  justify-content: space-between;
  margin:0 auto;

}
.product{
  display:flex;
  justify-content: space-between;
  width:100%;
}
.product a{
  font-size:18px;
line-height:24px;
color:#ffda96;

}
.main-footer {
  width:100%;
}
.main-footer .footer-wrapper {
  display: flex;

}
.navigation-footer .container{
  position: relative;
}

.contacts-info .container{
  display:flex;
  width:940px;
  justify-content: space-between;
  margin:0 auto;
  padding-top:45px;
  padding-bottom:45px;
}
.social{
  display: flex;
}
.social li{
  list-style:none;
  margin-right:20px;
  border-radius: 50%;
  background-color:#212a3a;
  width:50px;

  text-align: center;
  padding-top:8px;
}

.copyright-technomart p{
  font-size:16px;
line-height:18px;
color:#ffffff;
}
.Feedback, .htmlacademy-project{
   font-size:16px;
line-height:18px;
color:#ffffff;
}
.Feedback a{
  color:#ffd180;
}
.htmlacademy-project a{
  color:#ffd180;
}

.add-to-cart{
  position: absolute;
  top:245px;
  width:650px;
  height: 200px;
  margin-top:200px;
  background-color:#ffffff;
  margin-bottom: 50px;
  margin-left: 475px;
  border-top:10px solid #ee3643;
  z-index: 3;
}

.visability-hidden{
  display: none;
}
.add-to-cart-block{
  position: relative;
padding-left:150px;
}
.add-to-cart-block h2{
  padding-top:50px;
   padding-bottom:50px;
}
.add-to-cart-block::after{
  content: "";
  position: absolute;
  width:80px;
  height:80px;
  background-color:green;
  border-radius: 50%;
  left:30px;
  top:20px;
}
.add-to-cart-block::before{
  content: "";
  position: absolute;
  width:30px;
  height:15px;
  z-index:1;
  transform:rotate(310deg);
  left:50px;
  top:40px;
  border:10px solid #ffffff;
  border-top:none;
  border-right: none;
}
.add-to-cart-block h2{
  position: relative;
  color:#000000;
}
/*.add-to-cart-block h2::after{
  position: absolute;
  content: "x";
  font-size: 50px;
  right:10px;
  bottom:0px;
  color:#ee3643;

}*/
.money-wrapper .money{
  color:#000000;
  font-size:17px;
line-height:30px;
color:#000000;
}
.filter-svg-wrapper{
  position: absolute;
}

.filter-svg{
  background-color:#f7f3ec;
  padding-top:30px;
}

.count-number{
  display:flex;
  margin-top:10px;
}

.count-number li:not(:nth-child(2)){
  color:#000000;
  list-style: none;
  padding:15px 36px;
  background-color:#f7f3ec;
   font-size:17px;
line-height:18px;
font-family: "PT Sans";
}

.not-style-number {
  color:#000000;
  list-style: none;
  padding:15px 6px;

 background-color:#ffffff;
}

/*svg{
  position: absolute;
    top:500px;
    width:220px;
    height:80px;
    background-color:grey;
}*/
/*.money{
  background-color:#ffffff;
   padding-top:20px;
   padding-bottom:20px;

}
.money p{
   font-size:17px;
line-height:30px;
font-family: "PT Sans";
font-weight: bold;
}*/
.add-to-cart .buttons{
  display: flex;
}
.add-to-cart-block p{
color:#000000;
font-size:40px;
padding-top:40px;

}

.buttons li{
  list-style: none;
  margin-right: 10px;
}
.buttons .button-current{

  font-weight: bold;
  background-color:#ee3643;
  color:#ffffff;
  padding-top:10px;
   padding-bottom:10px;
   padding-left:30px;
   padding-right:30px;



}
.buttons .button{
  background-color:#ffffff;
  color:#000000;
  padding-top:10px;
   padding-bottom:10px;



  font-weight: bold;

}
.list-buys{
  background-color: #f4f7f9;
  padding:50px 100px;
}
.section-form{
  border-top:5px solid #ee3643;

  margin:0 auto;
  bottom:100px;
  left:405px;
  position: absolute;
  z-index:1;
  margin-left:60px;
  background-color:#ffffff;
}
.section-form .button{
  background-color:#ee3643;
  width:530px;
}
.name{
  padding-left:50px;
}
.form-contacts p{
  display: inline-block;
  margin-right: 30px;
}
.buttons li{
}
.button-wrapper{
  background-color:#f2f6f8;
  padding-top:20px;
}
.form-contacts{
  width:630px;
  background-color: #ffffff;
  z-index: 3;
  border-top:5px solid #ee3643;
}
.button-form{
  margin-left:50px;
}
.message-text{
  margin-left:50px;
}
.button{
padding-left:30px;
padding-right:30px;
margin-bottom:30px;
}
.section-form{
  position:relative;
}
.form-contacts{
  position: absolute;
  top:-133px;
  z-index:44;

}
/*.window-wrapper{
  background-color:#ffffff;
  margin-top:200px;
  height:300px;
  width:400px;
}*/


.map-window{

content:"";
background-image:url("../img/map-1.jpg");
background-repeat:no-repeat;
height:400px;
width:1200px;
background-size: cover;


}

.svg{
  position:absolute;
  top:490px;
  left:320px;
  z-index: 5;
   cursor:pointer;
}
.svg-flag{
  position: absolute;
  bottom:170px;
  left:670px;
  z-index: 4;
  cursor:pointer;
}
